:root{
    --primary-color: #0A1128;
    --white: #FFFFFF;
    --light-gray-color: #EEE;
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    letter-spacing: 0.2rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    letter-spacing: 0.5rem;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}


.mainBg{
    background-image: url('../img/img1.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.sections{
    min-height: 100vh;
}

.menu{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.2rem solid var(--light-gray-color);
    z-index: 1;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu a{
    text-decoration: none;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
 
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem; 
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background-color: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

._{
    height: 6.6rem;
}

.intro-content{
    display: grid;
    position: relative;
    top: -8rem;
    grid-template-columns: 1fr 1.5fr;
    justify-content: stretch;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.intro-img img{
    max-width: 100%;
    height: auto;
}

.white-bg{
    background-color: var(--white);
    color: var(--primary-color);
}

.top3-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

p{
    margin-bottom: 3rem;
}

.grid-one{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before{
    font-size: 3rem;
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 5rem;
}

.gallery-img{
    width: 100%;
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

table{
    width: 100%;
    border-collapse: collapse;
    min-width: 360px;
    white-space: nowrap;
}

.responsive-table{
    overflow: hidden;
    overflow-x: auto;
}

table caption{
    font-size: 1.6rem;
    font-style: italic;
    text-align: left;
    margin-bottom: 1rem;
}
table td, table th{
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

table tfoot td, table th{
    background-color: var(--light-gray-color);
}

.contact-form{
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-group{
    flex: 1 1 32rem;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea{
    border: none;
    background-color: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
}

.form-group button{
    border: 0.5rem solid var(--white);
    background: none;
    color: var(--white);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    background-color: var(--white);
    color: var(--primary-color);
}  

.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group input:focus, .form-group textarea:focus{
    transition: all 300ms ease-in-out;
    box-shadow: 0 0 0.5rem 0.5rem darkgray;
}
body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.fim{
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
}

.fim span{
    color: red;
}

.close-menu{
    display: none;
}
@media (max-width: 800px) {
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }

    .gallery-img{
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one{
        display: block;
    }

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    .menu{
        display: none;
    }

    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: '✖';
    }
}